---
BasedOnStyle: Google
ColumnLimit: '81'
IndentCaseLabels: 'true'
IndentWidth: '4'
NamespaceIndentation: All
SortIncludes: 'true'
SortUsingDeclarations: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: Never

...
